<!DOCTYPE html>
<html>
<head>
  <title>Pig Latin Translator</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.css">
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <style>
    h1, label{
      font-family: 'Pacifico', cursive;
     }

     label{
      padding: 10px 0px 10px 0px;
     }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
